<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    {{>navbar}}

    <!--main header-->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-12 col-12 main_header_left_error main_header_left align-items-center" >
                        <figure class="errimg">
                            <img src="images/404_logo.jpg" alt="404 error" class="img-fluid">
                        </figure>
                        <a href="/"><button>home</button></a>
                        <h1><span class="class_err">{{errorMsg}}</span></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--footer-->
    {{>footer}}
</body>
</html>