<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    {{>navbar}}

    <!--main header-->
    <div class="container-fluid main_header">
        <div class="row">
            <!--left side div-->    
            <div class="col-md-12 col-12 main_header_left_add main_header_left">
                Established in the year 1980, we, "Tayba Steel Enterprises", are reckoned as one of the prominent ma
                trader and wholesaler of a variegated range of Storage systems. The range offered by us includes Slotted Angle Racks, Display Racks, Mall Racks, Medical Store Racks, Aluminium Ladders and Metal Drawer Racks. In addition, we also offer all kind of iron and steel material such as Angle, Channel, Beam, TMT Bar etc.<br/><br/>

                We have secured a distinct position in the market due to the unmatched quality of our offered products. Our responsibility is just not to maintain the quality in the storage racks and other iron materials but it extends further to their delivery within the requested time limit.
            </div>
        </div>
    </div>
    <!--footer-->
    {{>footer}}
</body>
</html>