<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    {{>navbar}}

    <!--main header-->
    <div class="container-fluid main_header">
        <div class="row">
            <!--left side div-->    
            <div class="col-md-4 col-12 main_header_left_add main_header_left">
                Address:<br/>Tayba Steel Enterprises,<br/>
                Lal Bahadur Shastri Rd,<br/>
                opp. Hotel Ginger, Gokul Nagar,<br/>
                Thane West, Thane,<br/>
                Maharashtra 400601<br/>
                Mob: 084248 44070
            </div>
            <!--right side div-->    
            <div class="col-md-8 col-12 class_contactus main_header_right">
                <iframe id="iframe_map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3767.708629985578!2d72.9768555!3d19.2079245!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b91d9bb4774b%3A0xafb95194a9359f1e!2sTayba%20Steel%20Enterprises!5e0!3m2!1sen!2sin!4v1666502084498!5m2!1sen!2sin" width="600" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe><br/><br/>
            </div>
        </div>
    </div>
    <!--footer-->
    {{>footer}}
</body>
</html>