<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    {{>navbar}}

    <!--main header-->
    <div class="container-fluid main_header">
        <div class="row">
            <div id="container"> <span class="title">Pillar Rack Series</span>
                <ul id="imgs">
                    <li><img src="images/Pillar_Rack_Series/Pillar_Rack_Image1.jpg" alt="" /></li>
                    <li><img src="images/Pillar_Rack_Series/Pillar_Rack_Image2.jpg" alt="" /></li>
                    <li><img src="images/Pillar_Rack_Series/Pillar_Rack_Image3.jpg" alt="" /></li>
                    <li><img src="images/Pillar_Rack_Series/Pillar_Rack_Image4.jpg" alt="" /></li>
                    <li><img src="images/Pillar_Rack_Series/Pillar_Rack_Image5.jpg" alt="" /></li>
                    <li><img src="images/Pillar_Rack_Series/Pillar_Rack_Image6.jpg" alt="" /></li>
                </ul>
            </div>
            <div id="controler"> </div>
        </div>
    </div>
    <!--footer-->
    {{>footer}}
</body>
</html>