    <div class="container-fluid main_menu">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand" href="/"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                  
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav ml-auto">
                        <li class="nav-item" >
                          <a class="nav-link" href="/">ABOUT US</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/COUNTER">COUNTER</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/MALL">MALL</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/MEDICAL">MEDICAL</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/PILLAR">PILLAR</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/SLOTTEDANGLE">SLOTTED ANGLE</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/CONTACTUS">CONTACT US</a>
                        </li>
                      </ul>
                    </div>
                  </nav>
            </div>
        </div>
    </div>
